<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngIf="photoService.photo">
    <ion-card-content>
      <img [src]="photoService.photo">
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
